.my-element {
    color: #b3c5d4;
}

.soft-skill-container {
    background: sandybrown;
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 40px;
}

.tech-skill-container {
    background: tomato;
    width: 400px;
    box-sizing: border-box;
    margin-top: 40px;
}

.contacts-container {
    background: #1e2939;
    width: 400px;
    box-sizing: border-box;
}

.tech-skill-title {
    font-size: 30px;
    font-weight: 400;
}

.tech-skill-item {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.main-container {
    display: flex;
    flex-direction: column;
}